*{
    font-family: Garamond;
}
.bLeft, .bRight{
    background-color: rgb(95, 158, 160);
    color: yellow;
    width: 20%;
    height: 90px;
    text-align: right;
    float: left;
}
.bMid{
    background-color: rgb(95, 158, 160);
    color: yellow;
    width: 60%;
    height: 90px;
    text-align: center;
    float: left;
}
.left, .right{
    background-color: rgb(175, 238, 238);
    width: 50%;
    height: 250px;
    float: left;
}
.main{
    background-color: rgb(95,158,160);
    padding: 30px;   
    clear: both; 
}
table{
    border: 2px dotted green;
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 2px dotted green;
    border-collapse: collapse;
}
th{
    border: 2px dotted green;
    border-collapse: collapse;
    background-color: green;
    color: yellow;
}
footer{
    background-color: rgb(175, 238, 238);
    padding: 10px;
}